@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
nav {
  background-color: black;
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  height: 48px;
  display: flex;
  align-items: center;
  list-style-type: none;
}
ul li {
  color: white;
  padding: 0 12px;
  cursor: pointer;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.1rem;
}
.brand span {
  padding-left: 6px;
  padding-right: 18px;
}
.brand img {
  width: 40px;
}

.container {
  min-height: 70vh;
  font-family: "Varela Round", sans-serif;
  background-color: black;
  color: #fff;
  width: 80%;
  margin: 18px auto;
  border-radius: 12px;
  padding: 20px;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.songList h1 {
  font-size: 17px;
  font-weight: 500;
}
.bottom {
  height: 108px;
  position: sticky;
  bottom: 0;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
.icons {
  margin-top: 12px;
  cursor: pointer;
}
.icon {
  font-size: 28px;
}

.songItemContainer {
  margin-top: 30px;
}

.songItem {
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  color: black;
  margin: 12px 0;
}
.songItem img {
  width: 35px;
  margin: 0 16px;
  border-radius: 34px;
}
.songName {
  font-size: 13px;
}
.timestamp {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.songListPlay {
  margin-right: 16px;
}
.play {
  font-size: 21px;
  margin-left: 10px;
  cursor: pointer;
}
.songInfo {
  position: absolute;
  left: 9vw;
  margin-top: 10px;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
#playSongName {
  font-size: 12px;
}

/* media query */

@media screen and (max-width: 540px) {
  .container {
    width: 95%;
    margin: 8px auto;
  }
  .songItem {
    width: 100%;
  }
  .songName {
    font-size: 12px;
  }
  .timestamp {
    font-size: 12px;
  }
  .bottom {
    padding-bottom: 15px;
  }
  .icons {
    margin: 15px 0;
  }
  .songInfo {
    position: absolute;
    left: auto;
    bottom: 8px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .container {
    width: 90%;
    /* min-height: 85vh; */
    margin: 8px auto;
  }
  .songItem {
    width: 80% !important;
  }
  .songName {
    font-size: 17px;
  }
  .timestamp {
    font-size: 16px;
  }
  .bottom {
    padding-bottom: 15px;
  }
  .icons {
    margin: 15px 0;
  }
  .songInfo {
    position: absolute;
    left: auto;
    bottom: 8px;
  }
  #playSongName {
    font-size: 17px;
  }
}
